<div class="container">
  <h1 style="color: #027FFF" class="text-center">Duyệt bài đăng</h1>
  <form>
    <table class="table table-hover">
      <thead></thead>
      <tbody>
      <tr>
        <td><h1 style="color: red">Bạn có chắc muốn duyệt không?</h1></td>
      </tr>
      <tr>
        <td>
          <a role="button" class="btn btn-warning" data-dismiss="modal" routerLink="/admin/listWait">Đóng</a>
        </td>
        <td>
          <a role="button" class="btn btn-success" (click)="onApprove()">Duyệt</a>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>


